.wrapper .button{
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    background: #fff;
    overflow: hidden;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
}

.wrapper .button:hover{
    width: 180px;
}

.wrapper .button:nth-child(1) .icon{
    background: #e62117;
}

.wrapper .button:nth-child(2) .icon{
    background: #3b5998;
}

.wrapper .button:nth-child(3) .icon{
    background: #d62976;
}

.wrapper .button:nth-child(4) .icon{
    background: #55acee;
}

.wrapper .button:nth-child(5) .icon{
    background: #000;
}

.wrapper .button .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
}

.wrapper .button .icon i{
    font-size: 25px;
    line-height: 60px;
    color: #fff;
}

.wrapper .button span{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
}