.form-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-container::before{
  content: '';
  position: absolute;
  left: 50%;
  top: -20px;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  background: url(../img/logo.png) center 1px no-repeat;
  background-size: 80px;
  z-index: -1;
}

.switcher{
  font-size: 14px;
}

.inputBox{
  position: relative;
}

.inputBox input{
  width: 100%;
  background: transparent;
  color: #000;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 1em;
  letter-spacing: .1em;
  padding: 10px 0 5px;
}

.inputBox span{
  position: absolute;
  left: 0;
  color: #000;
  padding: 10px 0 5px;
  pointer-events: none;
  letter-spacing: .1em;
  transition: .5s;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span{
  color: #000;
  transform: translateY(-16px);
  font-size: .65em;
}

.inputBox i{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #000;
  overflow: hidden;
}

.inputBox i::before{
  content: '';
  position: absolute;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #01b636, #007423, #00ff4c, #007423, #01b636);
  animation: inputAnime 5s linear infinite;
}

.inputBox input:valid ~ i::before,
.inputBox input:focus ~ i::before{
  left: 0;
}

@keyframes inputAnime {
  0%{
    background-position-x: 0;
  }
  100%{
    background-position-x: 999px;
  }
}