@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.heading{
    font-family: 'Lobster', cursive !important  ;
}

.search-header{
    border: none;
    outline: none;
    background: #f5f5f5;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}

.searchBtn-header{
    color: #fff;
    border: none;
    outline: none;
    background: #01b636;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}