@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

header {
  height: 100vh;
}

.carousal0,
.carousal1,
.carousal2,
.carousal3,
.carousal4,
.carousal5,
.carousal6 {
  height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.carousal0 {
  background: url(../img/carousel0.jpg) no-repeat center;
}

.carousal1 {
  background: url(../img/carousel1.jpg) no-repeat center;
  position: relative;
}

.carousal1::before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #070d47;
  z-index: -1;
}

.carousal2 {
  background: url(../img/carousel2.jpg);
}

.carousal3 {
  background: url(../img/carousel3.jpg);
}

.carousal4 {
  background: url(../img/carousel4.jpg);
}

.carousal5 {
  background: url(../img/carousel5.jpg);
}

.carousal6 {
  background: url(../img/carousel6.jpg);
}

.job-items::before {
  font-family: 'FontAwesome';
  content: '\f00c';
  margin: 0 5px 0 -15px;
  color: #01b636;
}

.header-title{
  color: #00ff4c;
}