@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.carousel-indicators{
  bottom: 30px !important;
}

.carousal0,
.carousal1,
.carousal2,
.carousal3,
.carousal4,
.carousal5,
.carousal6 {
  height: 96vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-size: cover;
}

.carousal0 {
  background: url(../img/carousel0.jpg) no-repeat center center/cover;
}

.carousal1 {
  background: url(../img/carousel1.jpg) no-repeat center center/cover;
}

.carousal2 {
  background: url(../img/carousel2.png) no-repeat center center/cover;
}

.carousal3 {
  background: url(../img/carousel3.jpg) no-repeat center center/cover;
}

.carousal4 {
  background: url(../img/carousel4.jpg) no-repeat center center/cover;
}

.carousal5 {
  background: url(../img/carousel5.jpg) no-repeat center center/cover;
}

.carousal6 {
  background: url(../img/carousel6.jpg) no-repeat center center/cover;
}

.job-items::before {
  font-family: 'FontAwesome';
  content: '\f00c';
  margin: 0 5px 0 -15px;
  color: #01b636;
}

.header-title{
  color: #00ff4c;
}